[submodule "components/trackle-esp-idf"]
	path = components/trackle-esp-idf
	url = https://github.com/trackle-iot/trackle-esp-idf.git
[submodule "components/trackle-utils"]
	path = components/trackle-utils
	url = https://github.com/trackle-iot/trackle-utils.git
[submodule "components/mbedtls"]
	path = components/mbedtls
	url = https://github.com/trackle-iot/trackle-mbedtls.git
